@import "https://fonts.googleapis.com/css?family=Quicksand:0,400;0,600&display=swap";

.AElementorElement_187_1478 {
  width: 260px;
  height: 395.6px;
  position: relative;
  overflow: hidden;
}

.JobCardPostSvgFill_187_1479 {
  flex-direction: column;
  align-items: flex-end;
  width: 260px;
  height: 395.6px;
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.JobCardPostSvg_187_1480 {
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 358.895px;
  height: 395.6px;
  padding: 0 0.765px 0.378px 0;
  display: flex;
  overflow: hidden;
}

.DivElementorElement_187_1482 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 220px;
  display: flex;
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 1;
}

.DivEConInner_187_1483 {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  display: flex;
}

.DivElementorElement_187_1484 {
  align-items: flex-end;
  width: 204.6px;
  display: flex;
}

.DivElementorElement_187_1485 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 204.6px;
  display: flex;
}

.DivElementorWidgetContainer_187_1486 {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.Other_187_1487 {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  display: inline-block;
}

.DivElementorElement_187_1488 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.DivElementorWidgetContainer_187_1489 {
  border-bottom: 0.8px solid #369271;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 11.68px;
  display: flex;
}

.H2ElementorHeadingTitle_187_1490 {
  flex-direction: column;
  align-items: flex-start;
  width: 220px;
  display: flex;
}

.HeadOfOperationsModernTradeSupermarketChain_187_1491 {
  color: #cbfc06;
  font-family: 'Quicksand', sans-serif;
  font-size: 19.2px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  display: inline-block;
}

.DivElementorElement_187_1492 {
  border-bottom: 0.8px solid #369271;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.DivEConInner_187_1493 {
  align-items: center;
  gap: 4.987px;
  width: 100%;
  display: flex;
}

.DivElementorElement_187_1494 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 220px;
  display: flex;
}

.DivElementorWidgetContainer_187_1495 {
  flex-direction: column;
  align-items: flex-start;
  padding: 4.6px 0 9.76px;
  display: flex;
}

.Lkr_187_1496 {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.36px;
  display: inline-block;
}

.DivElementorElement_187_1497 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 220px;
  display: flex;
}

.DivElementorWidgetContainer_187_1498 {
  flex-direction: column;
  align-items: flex-start;
  padding: 4.6px 0 9.76px;
  display: flex;
}

.generated__187_1499 {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.36px;
  display: inline-block;
}

.DivElementorElement_187_1500 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.DivElementorWidgetContainer_187_1501 {
  border-bottom: 0.8px solid #369271;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 4.2px 0 10px;
  display: flex;
}

.PElementorHeadingTitle_187_1502 {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.SriLanka_187_1503 {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.36px;
  display: inline-block;
}

.DivElementorElement_187_1504 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.DivElementorWidgetContainer_187_1505 {
  border-bottom: 0.8px solid #369271;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 4.2px 0 10px;
  display: flex;
}

.PElementorHeadingTitle_187_1506 {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.Other_187_1507 {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.36px;
  display: inline-block;
}

.DivElementorElement_187_1508 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.DivElementorWidgetContainer_187_1509 {
  border-bottom: 0.8px solid #369271;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 4.2px 0 10px;
  display: flex;
}

.PElementorHeadingTitle_187_1510 {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.OnSite_187_1511 {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.36px;
  display: inline-block;
}

.DivElementorElement_187_1512 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 220px;
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}

.DivEConInner_187_1513 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.DivElementorElement_187_1514 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 220px;
  display: flex;
}

.DivElementorWidgetContainer_187_1515 {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5px;
  display: flex;
}

.February_27_2026_187_1516 {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 11.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.44px;
  display: inline-block;
}

.DivElementorElement_187_1517 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 220px;
  display: flex;
}

.DivElementorWidgetContainer_187_1518 {
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 100px;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 15px;
  display: flex;
}

.DivElementorIconWrapper_187_1519 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.DivElementorIcon_187_1520 {
  align-items: flex-start;
  display: flex;
}

.SpanH2dRemoveBefore_187_1521 {
  flex-direction: column;
  align-items: center;
  width: 15.75px;
  height: 18.6px;
  display: flex;
}

.Symbol_187_1522 {
  color: #cbfc06;
  text-align: center;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 18px;
  display: inline-block;
}
